RefactoringTechniques/UnitTests/obj/
RefactoringTechniques/packages/
RefactoringTechniques/RefactoringTechniques/obj/
RefactoringTechniques/RefactoringTechniques/bin/
RefactoringTechniques/DuplicatedCode/obj/
/RefactoringTechniques/.vs/RefactoringTechniques
/RefactoringTechniques/DuplicatedCode/bin/Debug
/RefactoringTechniques/UnitTests/bin/Debug
/RefactoringTechniques/RefactoringTechniques.v11.suo
/RefactoringTechniques/LongMethod/obj/
/RefactoringTechniques/SingleResponsibilityPrincipal/obj/Debug
/RefactoringTechniques/SingleResponsibilityPrincipal/bin/Debug
/RefactoringTechniques/LongMethod/bin/Debug
